@charset "utf-8";
/* CSS Document */

body {
	background-color: #515152;
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	color:#515152;
}

header {
	width: 900px;
	height: 200px;
	background-color: #8b8b8b;
	padding: 10px 0;
	margin: auto;
	box-sizing: border-box;
}

.header-row {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	height: 100%;
	width: 100%;
}

.banner-image {
	display: block;
}


section {
	width: 900px;
	background-image: url('Images/Project6_Images/2colback.jpg');
	background-repeat: repeat-y;
	overflow: hidden;
	margin: auto;
}

nav {
	float: left;
	width: 250px;
	
}

article {
	float: left;
	width: 650px;
	text-align: center;
}

footer{
	text-align: center;
	width: 900px;
	height: 70px;
	background-color: #8b8b8b;
	margin: auto;
}

.logoleft {
	display: block;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}

nav a {
	border: 6px inset #CCCCCC;
	background-color:#000000;
	line-height: 250%;
	font-weight: bold;
	font-size: 32px;
	color: #FFEEE6;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 20px;
	font-family: Vivaldi;
}

nav a:hover {
	color: hwb(298 4% 4%);
	border: 2px outset #CCCCCC;
}

h1 {
	color: #000000;
	text-align: center;
	font-size: xx-large;
}

p{ color: #000000;
	text-align: center;
	font-size: large;
}


#thumbs, #image {
		width: 100%;
		max-width: 650px;
		text-align: center;
		margin: 10px auto 0 auto;
		color: #000;
	}

	#thumbs {
		margin-top: 10px;
	}

			
	#thumbs img {
		border: solid 1px #000;
		margin: 5px;
	}

	#image{
		height:500px;
	}

	.instructions{
		font-style:italic;
	}

